.back {
  border: none;
  border: 2px solid black;
  color: black;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.back:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img-block {
  height: 500px
}


.product-img {
  height: 500px
}

.product {
  margin-top: 20px
}

